{% extends "::base.html.twig" %}

{% block top %}
<div id="top">
    <div class="wrapper">
        {# <a href="#" title="" class="logo"><img src=" {{ asset('bundles/brainstrapcorenc/images/logo.png') }}" alt="" /></a> #}
        
        <!-- Right top nav -->
        <div class="topNav">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="userNav">
                    <li><a href="#" title="" class="screen"></a></li>
                    <li><a href="#" title="" class="settings"></a></li>
                    <li><a href="#" title="" class="logout"></a></li>
                </ul>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock top %}

{% block loginWrapper %}
        <div class="loginWrapper">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock loginWrapper %}
