<!DOCTYPE html>
{#             'bundles/brainstrapwc/css/style.css' 'bundles/brainstrapwc/js/main.js' #}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets
            'bower/components/jquery-ui/themes/base/minified/jquery-ui.min.css'
            'bower/components/bootstrap/dist/css/bootstrap.min.css'
            'bower/components/fontawesome/css/font-awesome.min.css'

            'bundles/brainstrapcorenc/css/bootstrap.css'
            'bundles/brainstrapcorenc/css/reset.css'
            'bundles/brainstrapcorenc/css/ui_custom.css'
            'bundles/brainstrapcorenc/css/font.css'
            'bundles/brainstrapcorenc/css/plugins.css'
            'bundles/brainstrapcorenc/css/datatable.css'
            
            'bundles/brainstrapcorenc/css/prettyPhoto.css'
            'bundles/brainstrapcorenc/css/fullcalendar.css'
            'bundles/brainstrapcorenc/css/elfinder.css'
            'bundles/brainstrapcorenc/css/fancybox.css'

            'bundles/brainstrapcorenc/css/styles.css'

        filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block top%}{% endblock top %}
            
            {% block loginWrapper %}{% endblock loginWrapper %}


            {% block sidebar %}
                {% block mainNav %}{% endblock mainNav %}
                {% block secNav %}{% endblock secNav %}
            {% endblock sidebar %}
            


            {% block content %}
                {% block contentTop %}{% endblock contentTop %}
                {% block breadLine %}{% endblock breadLine %}
                {% block wrapper %}{% endblock wrapper %}
            {% endblock content %}
        {% endblock %}

        {% javascripts
            'bower/components/jquery/jquery.min.js'
            'bower/components/jquery-migrate/jquery-migrate.min.js'
            'bower/components/jquery-ui/ui/minified/jquery-ui.min.js'
            'bower/components/bootstrap/dist/js/bootstrap.min.js'
            'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
            

            'bundles/brainstrapcorenc/js/plugins/forms/ui.spinner.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.mousewheel.js'

            'bundles/brainstrapcorenc/js/plugins/charts/excanvas.min.js'
            'bundles/brainstrapcorenc/js/plugins/charts/jquery.flot.js'
            'bundles/brainstrapcorenc/js/plugins/charts/jquery.flot.orderBars.js'
            'bundles/brainstrapcorenc/js/plugins/charts/jquery.flot.pie.js'
            'bundles/brainstrapcorenc/js/plugins/charts/jquery.flot.resize.js'
            'bundles/brainstrapcorenc/js/plugins/charts/jquery.sparkline.min.js'

            'bundles/brainstrapcorenc/js/plugins/tables/jquery.dataTables.js'
            'bundles/brainstrapcorenc/js/plugins/tables/jquery.sortable.js'
            'bundles/brainstrapcorenc/js/plugins/tables/jquery.resizable.js'

            'bundles/brainstrapcorenc/js/plugins/forms/autogrowtextarea.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.uniform.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.inputlimiter.min.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.tagsinput.min.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.maskedinput.min.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.autotab.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.chosen.min.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.dualListBox.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.cleditor.js'

            'bundles/brainstrapcorenc/js/plugins/forms/jquery.ibutton.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.validationEngine-en.js'
            'bundles/brainstrapcorenc/js/plugins/forms/jquery.validationEngine.js'
            
            'bundles/brainstrapcorenc/js/plugins/uploader/plupload.js'
            'bundles/brainstrapcorenc/js/plugins/uploader/plupload.html4.js'
            'bundles/brainstrapcorenc/js/plugins/uploader/plupload.html5.js'
            'bundles/brainstrapcorenc/js/plugins/uploader/jquery.plupload.queue.js'
            
            'bundles/brainstrapcorenc/js/plugins/wizards/jquery.form.wizard.js'
            'bundles/brainstrapcorenc/js/plugins/wizards/jquery.validate.js'
            'bundles/brainstrapcorenc/js/plugins/wizards/jquery.form.js'

            'bundles/brainstrapcorenc/js/plugins/ui/jquery.collapsible.min.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.breadcrumbs.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.tipsy.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.progress.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.timeentry.min.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.colorpicker.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.jgrowl.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.fancybox.js'

            'bundles/brainstrapcorenc/js/plugins/ui/jquery.sourcerer.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.fileTree.js'
            'bundles/brainstrapcorenc/js/plugins/others/jquery.fullcalendar.js'


            'bundles/brainstrapcorenc/js/plugins/others/jquery.elfinder.js'
            'bundles/brainstrapcorenc/js/plugins/ui/jquery.easytabs.min.js'


            


            'bundles/brainstrapcorenc/js/files/bootstrap.js'
            'bundles/brainstrapcorenc/js/files/functions.js'
            'bundles/brainstrapcorenc/js/charts/chart.js'
            'bundles/brainstrapcorenc/js/charts/hBar_side.js'
        %}
        <script type="text/javascript" src="{{ asset( asset_url ) }}" charset='utf-8'></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock javascripts %}

    </body>
</html>
