<div class="modal fade" id="modal-request-wait" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
{#           <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-request-cart-title">Добавить клиента</h4>
      </div> #}
      <div class="modal-body">
            Ждите...
      </div>
{#           <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div> #}
    </div>
  </div>
</div>